:root {
  --azure: #0290ff;
  --black-two: #121212;
  --cool-blue: #4386bf;
  --white: #fff;
  --medium-blue: #307bbe;
  --dodger-blue: #379cf6;
  --warm-grey: #888;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*
    CSS Reset
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
input,
button,
ul,
li,
a,
p {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  background: url(https://images.unsplash.com/photo-1502982720700-bfff97f2ecac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center no-repeat fixed;
  padding: 8rem;
  background-size: cover;
  height: 500px;
}

.subtitle {
  font-size: 22px;
}
